<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAT Reminder</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Add User</a></li>
         <li><a href="/login">Sign In</a></li>
    </ul>
  </div>
</nav>

<div class="container">
     <div class="jumbotron" id="jumbo-color">
    <h1>Get Your Scholarship In Time!</h1>
    <p>Have an account yet? Create one today!</p>
  </div>
</div>

<div class="row">
         <div class="col-md-4 col-md-offset-4">
            {% with messages = get_flashed_messages()  %}
            {% if messages %}
                  {% for item in messages %}
                     <h3 class="text_danger">{{ item }}</h3>
                   {% endfor %}
            {% endif %}
         {% endwith %}

             <form action="" method="post">
                 {{ form.hidden_tag() }}
                 {% for field in form %}
                     <div class="form-group">
                     {{ field(placeholder = field.label.text, class_="form-control") }}
                     </div>
                     {% if field.errors %}
                         {% for error in field.errors %}
                            <p class="text-danger">
                              {{ error }}
                            </p>
                         {% endfor %}

                     {% endif %}
                 {% endfor %}
                 <button class="btn btn-info btn-block" type="submit">Submit</button>
             </form>
         </div>
     </div>
 </div>
</body>
</html>